body {
    background-color: #f8f8f8;  
}

.Highlight {
    color: #2222b1;
}

.Layout {
    margin: 64px auto;
    max-width: 880px;
    display: flex;
}

.HeadPanel {
    color: #666;
    padding: 8px;
    margin-bottom: 8px;
}

.HeadPanel i {
    margin-right: 6px;
}

.HeadMain {
    font-weight: bold;
    font-size: 12px;
    background-color: #666;
    padding: 2px 4px;
    color: white;
    border-radius: 2px;
}

.HeadSub {
    font-weight: bold;
    font-size: 12px;
    padding: 2px;
}

.SidePanel {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 8px;
    padding: 12px;
    width: 320px;
    margin-bottom: 8px;
}

.SubTitle {
    color: #888;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 12px;
}

.Title {
    color: #2222b1;
}

.TitleECO {
    font-weight: bold;
}

.PGN {
    margin-top: 8px;
    background-color: #eee;
    padding: 8px;
    font-family: monospace;
    color: #444;
    line-height: 140%;
    border-radius: 4px;
}

.MoveIndex {
    width: 72px;
    color: #444;
}

.Filler {
    width: 48px;
}

.Back button {
    width: 36px;
    height: 32px;
    background-color: #eee;
    border: 1px solid #ccc;
    color: #444;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.Back button:disabled {
    background-color: #fff;
    border: 1px solid #eee;
    color: #ccc;
}

.Navigator table {
    width: 100%;
    border-collapse: collapse;
}

.Navigator td {
    text-align: center;
}

.Navigator button {
    width: 36px;
    height: 32px;
    background-color: #eee;
    border: 1px solid #ccc;
    color: #444;
    padding: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.Navigator button:disabled {
    background-color: #fff;
    border: 1px solid #eee;
    color: #ccc;
}

.Navigator button:hover:enabled {
    background-color: #e5e5e5;
    cursor: pointer;
}

.Navigator button:active:enabled {
    background-color: #ccc;
}

.SearchField {
    margin-top: 6px;
}

.NoResults {
    text-align: center;
    padding: 12px;
    color: #888;
}

.SearchField input {
    padding: 6px;
    box-sizing: border-box;
    width: 100%;
}

.Browser {
    margin-top: 10px;
    background-color: #f5f5f5;
    max-height: 304px;
    
    overflow-x: hidden;
    border: 2px solid #aaa;
}

.Browser table {
    border-collapse: collapse;
    width: 100%;
}

.Browser tr {
    border-bottom: 1px solid #ccc;
}

.Browser tr:hover {
    background-color: #eee;
    cursor: pointer;
}

.Browser tr:active {
    background-color: #ddd;
    cursor: pointer;
}

.Browser td {
    padding: 8px;
}

.DetailsPanel {
    background-color: #fff;
    border: 1px solid #ccc;
    margin-right: 8px;
    padding: 12px;
    width: 494px;
    margin-top: 8px;
}

.Details {
    background-color: #eee;
    padding: 8px;
    font-size: 14px;
    font-family: monospace;
    color: #444;
    line-height: 140%;
    border-radius: 4px;
    margin-top: 8px;
    margin-bottom: 12px;
}

.Details i {
    width: 16px;
    margin-right: 4px;
}

.Statistics {
    margin-top: 4px;
    width: 100%;
    border: 1px solid #444;
    display: flex;
}

.StatisticsWhite {
    padding: 6px;
    background-color: white;
    width: 20%;
    color: black;
    text-align: center;
}

.StatisticsDraw {
    padding: 6px;
    background-color: #aaa;
    width: 20%;
    color: black;
    text-align: center;
}

.StatisticsBlack {
    padding: 6px;
    background-color: #444;
    width: 20%;
    color: white;
    text-align: center;
}

.Footer {
    color: #aaa;
    width: 100%;
    font-size: 14px;
}