.LightSquare {
    float: left;
    width: 64px;
    height: 64px;
    background-color: #dee3e6;
/*     background-color: #f0d9b5; */
}

.DarkSquare {
    float: left;
    width: 64px;
    height: 64px;
    background-color: #8ca2ad;
/*     background-color: #b58863; */
}